extends ./layouts/index
block slider 
    .slider 
        h1 Rio de Janeiro 
        em aventura
block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros 
        .row.mb-5 
            .col-md-6
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, repudiandae similique culpa quia esse mollitia voluptatem! Vitae accusamus nisi quas numquam possimus sed asperiores quisquam ratione neque. Quos, necessitatibus quia.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo corrupti incidunt quis quia laboriosam iusto consequuntur facere minima cupiditate itaque consequatur, maiores fugit asperiores debitis vel. Recusandae eos quasi excepturi!
            .col-md-6 
                img(src="/img/inicio_nosotros.jpg", alt="Sobre Nosotros", class="img-fluid")
        include ./layouts/bloque_viajes
    
    .descuento
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 Marzo de 2022
                        p.precio 2.500 Dólares
    
    .container
        h2.mt-5.text-center Testimoniales 
        include ./layouts/bloque_testimoniales

            