extends ./layouts/index
block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores perferendis unde optio? Incidunt, eveniet obcaecati! Perspiciatis culpa sint ipsum tempore facilis cum voluptas vero voluptate, atque illum, nisi libero dolorum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis alias, maiores cum accusantium ab aliquid. Commodi officia modi perspiciatis quos est eos veniam facilis quod animi, omnis, maiores nemo iste?Lorem ipsum dolor sit amet consectetur adipisicing elit.

                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus vero provident dolorem ad reprehenderit quia incidunt voluptas sed modi. Iste rem tempora in excepturi error explicabo ipsum repellendus, provident quis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo eligendi harum tempore molestiae totam quisquam magni.

                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus vero provident dolorem ad reprehenderit quia incidunt voluptas sed modi. Iste rem tempora in excepturi error explicabo ipsum repellendus

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. At, eius alias quo possimus voluptatem ut dignissimos, maxime enim quibusdam sequi

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. At, eius alias quo possimus voluptatem ut dignissimos, maxime enim quibusdam sequi

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precio", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. At, eius alias quo possimus voluptatem ut dignissimos, maxime enim quibusdam sequi

